.benefits {
  margin-top: 20px;
}
.benefits-wrapper {
  padding: 50px 0;
  background-color: #1e1823;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  position: relative;
  width: 308px;
}

.benefits-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -44px;
  transform: translateY(-50%);
  display: block;
  content: '';
  width: 1px;
  height: 124px;
  background-color: #fff;
}

.benefits-wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.benefits-icon {
  fill: #fd9222;
}

.benefits-subtitle {
  margin-top: 22px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
}
.benefits-description {
  margin-top: 18px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.28px;
}
