.footer {
  padding: 50px 0;
  background-color: #1e1823;
}

.footer-top {
}
.footer-title-wrap {
}
.footer-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 1.121;
  line-height: 1.21;
  letter-spacing: -0.84px;
}
.title-accent {
}
.footer-social {
}
.footer-text {
}
.social {
}
.footer-social-list {
}
.socials-item {
}
.social-link {
}
.social-icon {
}
.footer-contacts {
}
.footer-address {
}
.footer-contact-list {
}
.footer-contact-item {
}
.footer-contact-link {
}
.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
}
