.header {
  display: flex;
  padding: 20px 32px;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.header-logo-icon {
  width: 24px;
  height: 24px;
  fill: #fd9222;
}
.header-logo-accent {
  font-style: italic;
}

.menu-link:hover,
.menu-link:active {
  color: #fd9222;
}

.social-link:hover .social-icon,
.social-link:active .social-icon {
  fill: #fd9222;
}
