.header {
}

.header-logo {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.header-logo-accent {
  font-style: italic;
}

.header-nav {
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  font-weight: 500;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}
