.hero {
  background-color: rgba(17, 17, 17, 0.4);
}
.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.84px;
}

.hero-buy {
  font-weight: 600;
  color: #fff;
  background-color: #fd9222;
}
.hero-buy:hover,
.hero-made:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-made {
  color: #fff;
  border: 1px solid var(--surface-main, #fff);
}
.hero-made:hover,
.hero-made:focus {
  color: #fd9222;
  /* border: 1px solid var(--surface-main, #fd9222); */
  border-color: #fd9222;
  background-color: #fff;
}

.hero-scroll {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 1.2857; /* 18 / 14 */
  letter-spacing: -0.28px;
}

.hero-icon {
  width: 38px;
  height: 38px;
  padding: 8px;
  border-radius: 50%;
  background-color: #fff;
  fill: #fd9222;
}

/* Background */
.hero {
  position: relative;
  overflow: hidden;
  border-radius: 24px;

  aspect-ratio: 335 / 626;
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-bg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* весь контент поверх картинки */
.hero-title,
.hero-button,
.hero-scroll {
  position: relative;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(17, 17, 17, 0.4);
}

.hero-title,
.hero-button,
.hero-scroll {
  position: relative;
  z-index: 2;
}
