.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 1136px;
  margin: 0 auto;
  margin-top: 50px;
}

.ingredients-img {
}

.ingredients-subtitle {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.ingredients-item-orange {
  background-color: #fd9222;
  color: #fff;
}

.ingredients-item-light {
  background-color: #fff;
  border: 1px solid #fd9222;
  color: #111;
}

.ingredients-item-dark {
  background-color: #1e1823;
  color: #fff;
}
