.process-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
}
.process-img-wrapper {
  flex: 1 1 600px;
  overflow: hidden;
  border-radius: 16px;
}

.process-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.process-content {
  flex: 1 1 516px;

  padding: 32px;
  background: #fff;
  border-radius: 16px;
}
.process-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  max-width: 350px;
}
.process-list {
  margin-top: 28px;
}

.process-item {
  margin-bottom: 24px;
  position: relative;
  padding-left: 20px;
}

.process-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #7d7a7a;
  background-color: #4c4c4c;
}

.process-item:last-child {
  margin-bottom: 0;
}
