.section {
  padding: 60px 0;
}
.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

/* Section-title h2 */
.section-title {
  margin: 0 auto;
  text-align: center;
  max-width: 412px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

/* Social Header */
.social {
}
.socials-item {
}
.social-link {
}
.social-icon {
}

/* Accent h2 */
.title-accent {
  color: #fd9222;
}

/* Button */
.btn {
  border-radius: 100px;
  font-weight: 600;
  display: flex;
  padding: 14px 40px;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Ingredients */
.ingredients-item {
  display: flex;
  flex-direction: column;
  padding: 28px 24px;
  align-items: flex-start;
  width: calc((100% - 32px * 3) / 4);
  min-width: 260px;
  gap: 32px;
  border-radius: 15px;
}
