.section {
  padding: 60px 0;
}
.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.menu-list {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu-link {
  display: flex;
  padding: 11px 0;
  font-weight: 500;
  align-items: center;
}

.menu-link:hover,
.menu-link:focus-visible {
  color: #fd9222;
}

/* Social Icons */
.social {
  display: flex;
  gap: 14px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgb(150, 144, 144);
}

/* Section-title h2 */
.section-title {
  max-width: 412px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

/* Accent h2 */
.title-accent {
  color: #fd9222;
}

/* Button */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
