.section {
  padding: 120px 0;
}
.container {
  padding: 0 15px;
}

/* Social Header */

.social {
}
.socials-item {
}
.social-link {
}
.social-icon {
}

/* Accent h2 */
.title-accent {
  color: #fd9222;
}
