body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.2857;
  color: #111;
  background-color: #fafafa;
  letter-spacing: -0.02 em;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 35px;
}
