<footer class="section footer">
  <div class="container">
    <div>
      <div>
        <p>Chocolate a delicious cure for a bad day</p>
      </div>

      <div>
        <p>Social networks</p>
        <ul>
          <li>
            <a
              href="https://www.facebook.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <svg width="24" height="24" aria-hidden="true">
                <use href="/icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
            >
              <svg width="24" height="24" aria-hidden="true">
                <use href="/icons/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>

          <li>
            <a
              href="https://x.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Twitter"
            >
              <svg width="24" height="24" aria-hidden="true">
                <use href="/icons/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div>
        <p>Contact us</p>
        <address>
          <ul>
            <li>
              <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li>
              <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
            </li>
          </ul>
        </address>
      </div>
    </div>

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#process">How it's made?</a></li>
        <li><a href="#reviews">Chocolate is loved</a></li>
      </ul>
    </nav>
  </div>
</footer>
