<header>
  <div class="container">
    <a href="#">
      SIMPLY CHOCOLATE
      <svg class="" width="24" height="24">
        <use href="/icons/icons.svg#chocolate"></use>
      </svg>
    </a>
    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#ingredients">Ingredients</a>
        </li>
        <li>
          <a href="#process">How it's made?</a>
        </li>
        <li>
          <a href="#ourproducts">Our Products</a>
        </li>
        <li>
          <a href="#topsellers">Top sellers</a>
        </li>
        <li>
          <a href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <div>
      <ul>
        <li>
          <a
            class=""
            href="https://www.facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="" width="24" height="24">
              <use href="/icons/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class=""
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="" width="24" height="24">
              <use href="/icons/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class=""
            href="https://x.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Twitter"
          >
            <svg class="" width="24" height="24">
              <use href="/icons/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
