<header class="header">
  <div class="header-wrapper">
    <a class="header-logo" href="#">
      <span class="header-logo-accent">SIMPLY </span>CHOCOLATE
      <svg class="header-logo-icon" width="24" height="24">
        <use href="/icons/icons.svg#chocolate"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link header-menu-link is-active" href="#">Home</a>
        </li>

        <li class="menu-item">
          <a class="menu-link header-menu-link" href="#ingredients"
            >Ingredients</a
          >
        </li>

        <li class="menu-item">
          <a class="menu-link header-menu-link" href="#process"
            >How it's made?</a
          >
        </li>

        <li class="menu-item">
          <a class="menu-link header-menu-link" href="#ourproducts"
            >Our Products</a
          >
        </li>

        <li class="menu-item">
          <a class="menu-link header-menu-link" href="#topsellers"
            >Top sellers</a
          >
        </li>

        <li class="menu-item">
          <a class="menu-link header-menu-link" href="#reviews"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>

    <ul class="social">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/icons/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/icons/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>

      <li class="social-item">
        <a
          class="social-link"
          href="https://x.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/icons/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
