<section>
  <div class="hero">
    <div class="hero-content-wrapper">
      <h1 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>

      <div class="hero-actions">
        <div class="hero-buttons">
          <button class="btn hero-buy" type="button">Buy now</button>

          <button class="btn hero-made" type="button">How it's made</button>
        </div>

        <a class="hero-scroll" href="#topsellers">
          scroll down
          <svg class="hero-icon" width="22" height="22" aria-hidden="true">
            <use href="./icons/icons.svg#scroll-down"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
