<section id="ingredients">
  <div class="container">
    <h2>
      It all adds up to one exceptional
      <span class="title-accent">taste</span> sensation
    </h2>
    <ul>
      <li>
        <img
          src="./assets/img/tastechokolate.webp"
          alt="MILK CHOCOLATE"
          width="212"
          height="160"
        />
        <h3>MILK CHOCOLATE</h3>
      </li>

      <li>
        <img
          src="./assets/img/tastemilk.webp"
          alt="MILK"
          width="212"
          height="160"
        />
        <h3>MILK</h3>
      </li>

      <li>
        <img
          src="./assets/img/tastenuts.webp"
          alt="NUTS"
          width="212"
          height="160"
        />
        <h3>NUTS</h3>
      </li>

      <li>
        <img
          src="./assets/img/tastesemi.webp"
          alt="SEMI-SWEET CHOCOLATE"
          width="212"
          height="160"
        />
        <h3>SEMI-SWEET CHOCOLATE</h3>
      </li>

      <li>
        <img
          src="./assets/img/tastecacao.webp"
          alt="CACAO"
          width="212"
          height="160"
        />
        <h3>CACAO</h3>
      </li>

      <li>
        <img
          src="./assets/img/tasteraspberry.webp"
          alt="RASPBERRY"
          width="212"
          height="160"
        />
        <h3>RASPBERRY</h3>
      </li>

      <li>
        <img
          src="./assets/img/tastecocount.webp"
          alt="COCONUT OIL"
          width="212"
          height="160"
        />
        <h3>COCONUT OIL</h3>
      </li>
    </ul>
  </div>
</section>
