<section class="section" id="ingredients">
  <div class="container">
    <h2 class="section-title">
      It all adds up to one exceptional
      <span class="title-accent">taste</span> sensation
    </h2>
    <ul class="ingredients-list">
      <li class="ingredients-item">
        <img
          class="ingredients-img"
          src="./assets/img/tastechokolate.webp"
          alt="MILK CHOCOLATE"
          width="212"
          height="160"
        />
        <h3 class="ingredients-subtitle">MILK CHOCOLATE</h3>
      </li>

      <li class="ingredients-item">
        <img
          class="ingredients-img"
          src="./assets/img/tastemilk.webp"
          alt="MILK"
          width="212"
          height="160"
        />
        <h3 class="ingredients-subtitle">MILK</h3>
      </li>

      <li class="ingredients-item">
        <img
          class="ingredients-img"
          src="./assets/img/tastenuts.webp"
          alt="NUTS"
          width="212"
          height="160"
        />
        <h3 class="ingredients-subtitle">NUTS</h3>
      </li>

      <li class="ingredients-item">
        <img
          class="ingredients-img"
          src="./assets/img/tastesemi.webp"
          alt="SEMI-SWEET CHOCOLATE"
          width="212"
          height="160"
        />
        <h3 class="ingredients-subtitle">SEMI-SWEET CHOCOLATE</h3>
      </li>

      <li class="ingredients-item">
        <img
          class="ingredients-img"
          src="./assets/img/tastecacao.webp"
          alt="CACAO"
          width="212"
          height="160"
        />
        <h3 class="ingredients-subtitle">CACAO</h3>
      </li>

      <li class="ingredients-item">
        <img
          class="ingredients-img"
          src="./assets/img/tasteraspberry.webp"
          alt="RASPBERRY"
          width="212"
          height="160"
        />
        <h3 class="ingredients-subtitle">RASPBERRY</h3>
      </li>

      <li class="ingredients-item">
        <img
          class="ingredients-img"
          src="./assets/img/tastecocount.webp"
          alt="COCONUT OIL"
          width="212"
          height="160"
        />
        <h3 class="ingredients-subtitle">COCONUT OIL</h3>
      </li>
    </ul>
  </div>
</section>
