<section id="ourproducts">
  <div class="container">
    <h2>Our products</h2>
    <ul>
      <li>
        <img
          class=""
          src="./assets/img/products-orange.webp"
          alt="Orange"
          width="230"
          height="200"
        />
        <h3>Orange</h3>
        <p>Dark chocolate</p>
        <p>45 UAH</p>
      </li>
      <li>
        <img
          class=""
          src="./assets/img/products-apple.webp"
          alt="Apple & Cranberry"
          width="230"
          height="200"
        />
        <h3>Apple & Cranberry</h3>
        <p>Milk chocolate</p>
        <p>40 UAH</p>
      </li>
      <li>
        <img
          class=""
          src="./assets/img/products-lime.webp"
          alt="Lime & Sea Salt"
          width="230"
          height="200"
        />
        <h3>Lime & Sea Salt</h3>
        <p>Dark chocolate</p>
        <p>45 UAH</p>
      </li>
      <li>
        <img
          class=""
          src="./assets/img/products-pineapple.webp"
          alt="Pineapple"
          width="230"
          height="200"
        />
        <h3>Pineapple</h3>
        <p>Dark chocolate</p>
        <p>80 UAH</p>
      </li>
      <li>
        <img
          class=""
          src="./assets/img/products-classic-milch.webp"
          alt="Classic"
          width="230"
          height="200"
        />
        <h3>Classic</h3>
        <p>Milk chocolate</p>
        <p>41 UAH</p>
      </li>
      <li>
        <img
          class=""
          src="./assets/img/products-honey.webp"
          alt="Honey"
          width="230"
          height="200"
        />
        <h3>Honey</h3>
        <p>Milk chocolate</p>
        <p>35 UAH</p>
      </li>
      <li>
        <img
          class=""
          src="./assets/img/products-roasted.webp"
          alt="Roasted Fruits"
          width="230"
          height="200"
        />
        <h3>Roasted Fruits</h3>
        <p>Dark chocolate</p>
        <p>48 UAH</p>
      </li>
      <li>
        <img
          class=""
          src="./assets/img/products-classic-white.webp"
          alt="Classic"
          width="230"
          height="200"
        />
        <h3>Classic</h3>
        <p>White chocolate</p>
        <p>65 UAH</p>
      </li>
    <h2><span>Top</span> sellers</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
