<section class="section" id="ourproducts">
  <div class="container">
    <h2 class="section-title">
      Our <span class="title-accent">products</span>
    </h2>
    <ul class="ourproducts-list">
      <li class="ourproducts-item">
        <img
          class=""
          src="./assets/img/products-orange.webp"
          alt="Orange"
          width="230"
          height="200"
        />
        <h3 class="ourproducts-subtitle">Orange</h3>
        <p class="ourproducts-desctiption">Dark chocolate</p>
        <p class="ourproducts-price">45 UAH</p>
      </li>
      <li class="ourproducts-item">
        <img
          class=""
          src="./assets/img/products-apple.webp"
          alt="Apple & Cranberry"
          width="230"
          height="200"
        />
        <h3 class="ourproducts-subtitle">Apple & Cranberry</h3>
        <p class="ourproducts-desctiption">Milk chocolate</p>
        <p class="ourproducts-price">40 UAH</p>
      </li>
      <li class="ourproducts-item">
        <img
          class=""
          src="./assets/img/products-lime.webp"
          alt="Lime & Sea Salt"
          width="230"
          height="200"
        />
        <h3 class="ourproducts-subtitle">Lime & Sea Salt</h3>
        <p class="ourproducts-desctiption">Dark chocolate</p>
        <p class="ourproducts-price">45 UAH</p>
      </li>
      <li class="ourproducts-item">
        <img
          class=""
          src="./assets/img/products-pineapple.webp"
          alt="Pineapple"
          width="230"
          height="200"
        />
        <h3 class="ourproducts-subtitle">Pineapple</h3>
        <p class="ourproducts-desctiption">Dark chocolate</p>
        <p class="ourproducts-price">80 UAH</p>
      </li>
      <li class="ourproducts-item">
        <img
          class=""
          src="./assets/img/products-classic-milch.webp"
          alt="Classic"
          width="230"
          height="200"
        />
        <h3 class="ourproducts-subtitle">Classic</h3>
        <p class="ourproducts-desctiption">Milk chocolate</p>
        <p class="ourproducts-price">41 UAH</p>
      </li>
      <li class="ourproducts-item">
        <img
          class=""
          src="./assets/img/products-honey.webp"
          alt="Honey"
          width="230"
          height="200"
        />
        <h3 class="ourproducts-subtitle">Honey</h3>
        <p class="ourproducts-desctiption">Milk chocolate</p>
        <p class="ourproducts-price">35 UAH</p>
      </li>
      <li class="ourproducts-item">
        <img
          class=""
          src="./assets/img/products-roasted.webp"
          alt="Roasted Fruits"
          width="230"
          height="200"
        />
        <h3 class="ourproducts-subtitle">Roasted Fruits</h3>
        <p class="ourproducts-desctiption">Dark chocolate</p>
        <p class="ourproducts-price">48 UAH</p>
      </li>
      <li class="ourproducts-item">
        <img
          class=""
          src="./assets/img/products-classic-white.webp"
          alt="Classic"
          width="230"
          height="200"
        />
        <h3 class="ourproducts-subtitle">Classic</h3>
        <p class="ourproducts-desctiption">White chocolate</p>
        <p class="ourproducts-price">65 UAH</p>
      </li>
    </ul>
  </div>
</section>
