<section class="section" id="process">
  <div class="container">
    <h2 class="section-title">
      How it's<span class="title-accent"> made</span> ?
    </h2>
    <div class="process-wrapper">
      <div class="process-img-wrapper">
        <img
          class="process-img"
          src="./assets/img/made.webp"
          alt="How it's made?"
          width="600"
          height="400"
          srcset="./assets/img/made@2x.webp 2x"
        />
      </div>
      <div class="process-content">
        <h3 class="process-subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ol class="process-list">
          <li class="process-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>

          <li class="process-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>

          <li class="process-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>

          <li class="process-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>

          <li class="process-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
