<section class="section" id="process">
  <div class="container">
    <h2>How it's made?</h2>
    <div>
      <img
        class=""
        src="./assets/img/made.webp"
        alt="How it's made?"
        width="600"
        height="400"
        srcset="./assets/img/made@2x.webp 2x"
      />
      <div>
        <h3>
          Dva our chocolates today and discover the perfect balance of flavor
        </h3>
        <ol>
          <li>
            At the same time, prepare a water bath. Melt the butter on it.
          </li>

          <li>
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>

          <li>Heat the mixture over low heat, letting it barely boil.</li>

          <li>
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>

          <li>
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
