<section class="section" id="topsellers">
  <div class="container">
    <h2 class="section-title"><span class="title-accent">Top</span> sellers</h2>
    <ul class="topsellers-list">
      <li class="topsellers-item">
        <div class="topsellers-img-wrapper">
          <img
            class=""
            src="./assets/img/sellers-nuts.webp"
            alt="CHOCOLATE WITH NUTS"
            width="365"
          />

          <div class="topsellers-overlay">
            <p class="topsellers-overlay-text">
              Chocolate with fruit is an unbeatable combination of two of the
              tastiest things in the world. This dessert combines delicate and
              aromatic chocolate with fresh and juicy fruits, creating a true
              poetry of taste.
            </p>
          </div>
        </div>
        <h3 class="topsellers-subtitle">CHOCOLATE WITH NUTS</h3>
      </li>

      <li class="topsellers-item">
        <div class="topsellers-img-wrapper">
          <img
            class=""
            src="./assets/img/sellers-fruits.png"
            alt="CHOCOLATE WITH FRUITS"
            width="365"
          />

          <div class="topsellers-overlay">
            <p class="topsellers-overlay-text">
              Chocolate with fruit is an unbeatable combination of two of the
              tastiest things in the world. This dessert combines delicate and
              aromatic chocolate with fresh and juicy fruits, creating a true
              poetry of taste.
            </p>
          </div>
        </div>
        <h3 class="topsellers-subtitle">CHOCOLATE WITH FRUITS</h3>
      </li>

      <li class="topsellers-item">
        <div class="topsellers-img-wrapper">
          <img
            class=""
            src="./assets/img/sellers-dark.webp"
            alt="DARK CHOCOLATE"
            width="365"
          />
          <div class="topsellers-overlay">
            <p class="topsellers-overlay-text">
              Chocolate with fruit is an unbeatable combination of two of the
              tastiest things in the world. This dessert combines delicate and
              aromatic chocolate with fresh and juicy fruits, creating a true
              poetry of taste.
            </p>
          </div>
        </div>
        <h3 class="topsellers-subtitle">DARK CHOCOLATE</h3>
      </li>
    </ul>
  </div>
</section>
