<section id="topsellers">
  <div class="container">
    <h2><span>Top</span> sellers</h2>
    <ul>
      <li>
        <img
          class=""
          src="./assets/img/sellers-nuts.webp"
          alt="CHOCOLATE WITH NUTS"
          width="365"
        />
        <h3>CHOCOLATE WITH NUTS</h3>
      </li>
      <li>
        <img
          class=""
          src="./assets/img/sellers-fruits.png"
          alt="CHOCOLATE WITH FRUITS"
          width="365"
        />
        <h3>CHOCOLATE WITH FRUITS</h3>
      </li>
      <li>
        <img
          class=""
          src="./assets/img/sellers-dark.webp"
          alt="DARK CHOCOLATE"
          width="365"
        />
        <h3>DARK CHOCOLATE</h3>
      </li>
    </ul>
  </div>
</section>
